.main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
    text-align: center;
}

a {
    color: white;
}

.bold {
    font-weight: 450;
    margin-top: 15px;
    margin-bottom: 5px;
}

.rainbow {
    font-weight: bold;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}