.red {
	background-color: #e53935;
}

.pink {
	background-color: #d81b60;
}

.purple {
	background-color: #9c27b0;
}

.deep-purple {
	background-color: #5e35b1;
}

.indigo {
	background-color: #3949ab;
}

.blue {
	background-color: #1e88e5;
}

.light-blue {
	background-color: #039be5;
}

.cyan {
	background-color: #00acc1;
}

.teal {
	background-color: #00897b;
}

.green {
	background-color: #43a047;
}

.light-green {
	background-color: #7cb342;
}

.lime {
	background-color: #c0ca33;
}

.yellow {
	background-color: #fdd835;
}

.amber {
	background-color: #ffb300;
}

.orange {
	background-color: #fb8c00;
}

.deep-orange {
	background-color: #f4511e;
}

.brown {
	background-color: #6d4c41;
}

.grey {
	background-color: #757575;
}

.blue-grey {
	background-color: #546e7a;
}

.white {
	background-color: #ffffff;
}
