.red {
    background-color: #E53935;
}

.pink {
    background-color: #D81B60;
}

.purple {
    background-color: #9C27B0;
}

.deep-purple {
    background-color: #5E35B1;
}

.indigo {
    background-color: #3949AB;
}

.blue {
    background-color: #1E88E5;
}

.light-blue {
    background-color: #039BE5;
}

.cyan {
    background-color: #00ACC1;
}

.teal {
    background-color: #00897B;
}

.green {
    background-color: #43A047;
}

.light-green {
    background-color: #7CB342;
}

.lime {
    background-color: #C0CA33;
}

.yellow {
    background-color: #FDD835;
}

.amber {
    background-color: #FFB300;
}

.orange {
    background-color: #FB8C00;
}

.deep-orange {
    background-color: #F4511E;
}

.brown {
    background-color: #6D4C41;
}

.grey {
    background-color: #757575;
}

.blue-grey {
    background-color: #546E7A;
}