@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg-main: #0f0f0f;
    --bg-sec: #222222;
    --bg-ter: #3f3f3f;
    --accent: #1e5eb6;
    --error: #E53935;
    --text: #ffffff;
    --grid-size: 8;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

textarea:focus,
input:focus {
    outline: none;
}

body {
    background-color: var(--bg-main);
    overflow: overlay;
}

h1,
p {
    color: var(--text);
}

h1 {
    font-size: 5em;
}

input {
    border-radius: 25px;
    width: calc(min(50%, 500px));
    height: 40px;
    margin: 5px;
    border: 1.5px solid var(--bg-sec);
    background-color: transparent;
    color: var(--text);
    font-size: 11pt;
    padding-inline: 20px;
}

input:focus {
    border: 1.5px solid #1e5eb6;
}

button {
    border-radius: 25px;
    width: fit-content;
    padding-inline: 20px;
    height: 45px;
    margin: 5px;
    border: none;
    text-align: center;
    background-color: var(--bg-sec);
    color: var(--text);
    font-weight: 450;
    font-size: 11pt;
}

button:hover {
    cursor: pointer;
    background-color: var(--bg-ter);
}

.text {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-ter);
}

.rainbow {
    font-weight: bold;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}